<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GestionCabinetMedical</display-name> 
    <servlet>
        <servlet-name>Medcin</servlet-name>
        <servlet-class>pack.Servlet.MedcinServlet</servlet-class>
    </servlet>
 	<servlet-mapping>
        <servlet-name>Medcin</servlet-name>
        <url-pattern>/updateMedcin</url-pattern>
        <url-pattern>/deleteMedcin</url-pattern>
        <url-pattern>/newMedcin</url-pattern>
        <url-pattern>/insertMedcin</url-pattern>
        <url-pattern>/editMedcin</url-pattern>
        <url-pattern>/listMedcin</url-pattern>
        
    </servlet-mapping>
    <servlet>
        <servlet-name>ControllerConsultation</servlet-name>
        <servlet-class>pack.Servlet.consultation</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ControllerConsultation</servlet-name>
        <url-pattern>/createConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerConsultation</servlet-name>
        <url-pattern>/Consultations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerConsultation</servlet-name>
        <url-pattern>/editConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerConsultation</servlet-name>
        <url-pattern>/deleteConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerConsultation</servlet-name>
        <url-pattern>/diagnostique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerConsultation</servlet-name>
        <url-pattern>/showConsultation</url-pattern>
    </servlet-mapping>
    <servlet>
  	<servlet-name>home</servlet-name>
  	<servlet-class>pack.Servlet.homeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>cp</servlet-name>
  	<servlet-class>pack.Servlet.PatientsServlet</servlet-class>
  </servlet>

    <servlet-mapping>
        <servlet-name>cp</servlet-name>
        <url-pattern>/updatePatient</url-pattern>
        <url-pattern>/deletePatient</url-pattern>
        <url-pattern>/newPatient</url-pattern>
        <url-pattern>/insertPatient</url-pattern>
        <url-pattern>/editPatient</url-pattern>
        <url-pattern>/listPatient</url-pattern>
    </servlet-mapping>
</web-app>